---
import { Icon } from "astro-icon/components";

import ItemExperience from "./common/ItemExperience.astro";
import cidenet from "../assets/images/cidenet.webp";
import grupo_jpc from "../assets/images/grupo_jpc.webp";
import fga from "../assets/images/fga.webp";
import gbi_mark from "../assets/images/gbi_mark.webp";
import lebon from "../assets/images/lebon.webp";
import software_estrategico from "../assets/images/software_estrategico.webp";
---

<section id="experience" class="pt-[4vh] md:mx-40 mx-8 my-0 min-h-fit">
  <div class="text-center m-2 gap-2 flex items-center justify-center">
    <Icon name="proicons:layers" class="h-8 w-8 2xl:h-10 2xl:w-10" />
    <h1
      class="font-bold md:text-5xl 2xl:text-5xl lg:text-4xl text-3xl py-5 2xl:py-10"
    >
      Experiencia
    </h1>
  </div>
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-12 gap-y-10">
    <ItemExperience
      image={cidenet}
      title="Cidenet"
      position="Desarrollador Frontend"
      dateIn="2022"
      dateOut="Actual"
      description="Como Analista de Tecnología en Cidenet, me especialicé en el desarrollo de software utilizando PHP, JavaScript, JQuery, AJAX, CSS y HTML. Entre mis principales responsabilidades se destacó la implementación de mejoras en un software para la atención de pacientes en una clínica, optimizando su funcionalidad y eficiencia. Mi rol implicó colaboración con el equipo de desarrollo, para garantizar la calidad del producto y asegurar que las soluciones estuvieran alineadas con los requerimientos del cliente."
      url="https://cidenet.com.co/"
    />
    <ItemExperience
      image={grupo_jpc}
      title="Grupo JPC"
      position="Desarrollador TI"
      dateIn="2019"
      dateOut="2022"
      description="Como Desarrollador TI en Grupo JPC, me encargué de personalizar el CRM Vtiger para adaptarlo a las necesidades específicas de la empresa. Desarrollé un sistema para el pago de facturas utilizando Angular y NodeJS, el cual se integraba con el CRM para mantener actualizada la información de facturación. Además, implementé un sistema para el seguimiento de pedidos, lo que permitió a la empresa mejorar la gestión y trazabilidad de las solicitudes realizadas por los clientes."
      url="https://www.megatoner.co/"
    />

    <ItemExperience
      image={fga}
      title="FGA Fondo de garantías"
      position="Analista de Tecnología"
      dateIn="2016"
      dateOut="2019"
      description="Como Analista de Tecnología, fui responsable de migrar de SugarCRM a SUITECRM, lo cual me permitió optimizar el sistema de gestión de clientes y la administración de PQRS. Participé activamente en el desarrollo de gestión de procesos a través  de la implementación de nuevos módulos en el CRM, donde utilicé PHP como lenguaje de programación para adaptar el sistema a las necesidades de la empresa."
      url="https://fga.com.co/"
    />

    <ItemExperience
      image={gbi_mark}
      title="GBI-Mark"
      position="Desarrollador TI"
      dateIn="2015"
      dateOut="2016"
      description="En mi rol como Desarrollador TI, me encargué de diseñar y desarrollar interfaces de usuario intuitivas utilizando PHP, HTML y CSS, para mejorar la experiencia del usuario en los CRM SugarCRM y SuiteCRM. Fui parte del equipo que implementó la plataforma para cada uno de los clientes, lo que resultó en un aumento de eficiencia y productividad en los procesos de cada uno. Además, realicé integraciones con otros sistemas y optimicé el rendimiento de los módulos del CRM, reduciendo los tiempos de carga."
      url="https://gbi-mark.com/"
    />

    <ItemExperience
      image={lebon}
      title="LeBon"
      position="Analista Desarrollador"
      dateIn="2014"
      dateOut="2015"  
      description="Como Analista Desarrollador, implementé nuevos módulos personalizados para el ERP LeBon. Utilice PHP con base de datos MySQL. Realicé la integración de módulos externos y optimicé el rendimiento del sistema. Mis desarrollos contribuyeron a mejorar los procesos de la empresa, aumentando la eficiencia y productividad."
      url="https://www.facebook.com/LebonTiendaOnline/"
    />

    <ItemExperience
      image={software_estrategico}
      title="Software Estratégico"
      position="Analista Desarrollador"
      dateIn="2013"
      dateOut="2014"
      description="Como Analista Desarrollador, me encargué de diseñar y personalizar los módulos del ERP, utilizando PHP con base de datos MySQL y CSS, para mejorar la experiencia en el sistema en una empresa que prestaba el servicio de dispensación de medicamentos a las diferentes EPS de Colombia. Realicé la integración de módulos externos y optimicé el rendimiento del sistema. Mis desarrollos contribuyeron a mejorar los procesos de la empresa, aumentando la eficiencia y productividad."
      url="https://softgic.co/es/" 
    />
  </div>
</section>
